:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --gradient-bg: linear-gradient(
    to bottom,
    rgb(120, 87, 255),
    hsl(241, 81%, 54%)
  );
  --gradient-circle: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: lch(95.07% 7.45 274.74);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Typography */
  --font-family: "Hanken Grotesk", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-size-body: 18px;

  /* Utilities */
  --radius: 12px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

--blue-box: HSL(252, 100%, 67%);

}


body{
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    background-color: var(--white);
    width: 60%;
    height: 300px;
    border-radius: 20px;
}

.blue-box{
    background-color:var(--blue-box);
    width: 50%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.blue-box p{
    text-align: center;

}

.circle{

    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    ju
}